<!-- home.page.html -->
<!-- Template for the home page -->
<!-- https://ionicframework.com/docs/components -->

<ion-header>
  <ion-toolbar>
    <ion-title>G00485542</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToFavourites()">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchQuery"
    placeholder="Search Movie Name">
  </ion-searchbar>

  <ion-button expand="full" (click)="search()">SEARCH</ion-button>

  <h2 style="padding: 10px 16px;">{{ heading }}</h2>

  <!-- each movie displayed as a card with image on left and text on right -->
  <div *ngFor="let movie of movies"
     (click)="goToMovieDetails(movie)"
     style="display:flex; padding:10px 16px; border-bottom:1px solid #ddd; cursor:pointer; align-items:flex-start; width:100%;">

    <!-- movie poster on the left -->
    <img [src]="getImageUrl(movie.poster_path)"
     style="width:200px; height:300px; object-fit:cover; flex-shrink:0; margin-right:12px;">

     <!---- Where descriptions are too long, we use CSS to limit the text to 4 lines and add an ellipsis at the end
     // https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp -->
    <!-- overview text on the right -->
    <p style="font-size:18px; color:#333; line-height:1.6; margin:0; flex:1; 
          overflow:hidden; display:-webkit-box; -webkit-line-clamp:3; 
          -webkit-box-orient:vertical;">
  {{ movie.overview }}
</p>

  </div>

</ion-content>